#cryptocoin-board-table {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(49, 49, 52);
  height: 100vh;
  border-collapse: collapse;
  text-align: right;
  font-size: 2vh !important;
  table-layout: fixed;
  margin: 0 auto !important;
  color: white;
}

.table-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#cryptocoin-board-table > .table-row:nth-child(odd) {
  background-color: rgb(38, 38, 38);
}
#cryptocoin-board-table > .table-row:nth-child(even) {
  background-color: rgb(20, 24, 34);
}
.table-column {
  display: flex;
  flex-basis: 100%;
  flex-flow: row-reverse;
  flex: 1;
  border: 1px solid rgb(49, 49, 52);
  margin-top: -1px;
  margin-left: -1px;
  align-items: center;
  position: relative;
}
.loader {
  position: absolute;
  margin: auto;
  top: 50vh;
  bottom: 50vh;
  left: 0;
  right: 0;
}
.board-wrapper {
  height: 100vh;
  background-color: rgb(20, 24, 34);
}